<div class="card">
  <div class="card-header">
    <h4><%= @start_list.race.name %></h4>
  </div>
  <div class="card-body">
    <p class="text-right font-weight-bold mr-10">
      <% team_id = nil %>
      <% @start_list.players.each do |player| %>
        <%
          if team_id != player.team.id
            team_id = player.team.id
        %>
          <%= player.team.name %>
        <% end %>
        <ul>
          <li><%= player.name %></li>
        </ul>
      <% end %>
    </p>
  </div>
</div>
