.players__table {
  tr:hover {
    cursor: pointer;
  }
}

.players__linkBox {
  a {
    margin: 0 8px;
  }
}

.players__searchForm {
  display: inline-block;
}

.players__select {
  display: inline-block;
  width: auto;
}
